create or replace function increment_referral_count(p_referrer_id uuid) returns void as create_referrals_table.sql begin update public.referrals set count = count + 1 where referrer_id = p_referrer_id; end; create_referrals_table.sql language plpgsql security definer;
